Makefile.conf
_build
myocamlbuild.ml
!tools/myocamlbuild.ml
stage
doc
ocaml
*.byte
*.js
*~
.#*
src/lwt/*.ml*
src/lwt/META*
src/ounit/*.ml*
src/ounit/META*
src/stdlib/*.ml*
!src/stdlib/random.ml
src/jscomp/translclass.ml*
src/jscomp/translcore.ml*
src/jscomp/translobj.ml*
src/jscomp/typecore.ml*
